# Environnement virtuel
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Tests
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Local files
.env
.lgd-nfy0